.message {
    width: fit-content;
    padding : 5px;
    margin: 5px;
}
.MuiCard-root{
    border-radius: 30px !important;
}
.message__user{
    margin-left: auto;
    color:white;
    text-align: left !important;
    word-break: break-all;
}
.message__userCard{
    background-color: #0b81ff !important;
    color: white !important;
}
.message__guestCard{
    background-color: #e9e9eb !important;
}

.message__userCard .message_time{
    font-size: 11px;
    font-weight: 800;
    display: flex;
    color:white
}
.message__guestCard .message_time{
    font-size: 11px;
    font-weight: 800;
    display: flex;
    color:black;
}
.MuiCardContent-root:last-child {
    padding-bottom: 12px !important;
}